---
import { SOCIAL } from "../../consts";
---

{
  // Instagram link
  SOCIAL.instagram && (
    <a
      href={SOCIAL.instagram}
      class="hover:underline block mb-3"
      target="_blank"
    >
      Instagram
    </a>
  )
}
{
  // Facebook link
  SOCIAL.facebook && (
    <a
      href={SOCIAL.facebook}
      class="hover:underline block mb-3"
      target="_blank"
    >
      Facebook
    </a>
  )
}

{
  // Twitter link
  SOCIAL.twitter && (
    <a href={SOCIAL.twitter} class="hover:underline block mb-3" target="_blank">
      Twitter
    </a>
  )
}

{
  // LinkedIn link
  SOCIAL.linkedin && (
    <a
      href={SOCIAL.linkedin}
      class="hover:underline block mb-3"
      target="_blank"
    >
      LinkedIn
    </a>
  )
}

{
  // GitHub link
  SOCIAL.github && (
    <a href={SOCIAL.github} class="hover:underline block mb-3" target="_blank">
      GitHub
    </a>
  )
}

{
  // YouTube link
  SOCIAL.youtube && (
    <a href={SOCIAL.youtube} class="hover:underline block mb-3" target="_blank">
      YouTube
    </a>
  )
}

{
  // TikTok link
  SOCIAL.tiktok && (
    <a href={SOCIAL.tiktok} class="hover:underline block mb-3" target="_blank">
      TikTok
    </a>
  )
}
